<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.investindia" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Startup India Hub</name>
    <description>
        This is an online platform for startup and stakeholders.
    </description>
    <author email="startupindiahub@investindia.org.in" href="https://www.startupindiahub.org.in">
        Startup India Hub
    </author>
    <preference name="orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="7000" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="DisallowOverscroll" value="true"/>
    <platform name="android">
        <splash density="port-hdpi" src="images/res/screen/android/splash-port-hdpi.png" />
        <splash density="port-ldpi" src="images/res/screen/android/splash-port-mdpi.png" />
        <splash density="port-mdpi" src="images/res/screen/android/splash-port-mdpi.png" />
        <splash density="port-xhdpi" src="images/res/screen/android/splash-port-xhdpi.png" />
        <icon density="ldpi" src="images/res/icon/android/hdpi.png" />
        <icon density="mdpi" src="images/res/icon/android/mdpi.png" />
        <icon density="hdpi" src="images/res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="images/res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="images/res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="images/res/icon/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <splash height="960" src="images/res/screen/ios/Default@2x.png" width="640" />
        <splash height="1024" src="images/res/screen/ios/Default-Portrait.png" width="768" />
        <splash height="2048" src="images/res/screen/ios/Default-Portrait@2x.png" width="1536" />
        <splash height="768" src="images/res/screen/ios/Default-Landscape.png" width="1024" />
        <splash height="1536" src="images/res/screen/ios/Default-Landscape@2x.png" width="2048" />
        <splash height="1136" src="images/res/screen/ios/Default-568h@2x.png" width="640" />
        <splash height="1334" src="images/res/screen/ios/Default-667h@2x.png" width="750" />
        <splash height="2208" src="images/res/screen/ios/Default-Portrait-736h@3x.png" width="1242" />
        <icon height="180" src="images/res/icon/ios/Icon-App-60x60@3x.png" width="180" />
        <icon height="60" src="images/res/icon/ios/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="images/res/icon/ios/Icon-App-60x60@2x.png" width="120" />
        <icon height="76" src="images/res/icon/ios/Icon-App-76x76@1x.png" width="76" />
        <icon height="152" src="images/res/icon/ios/Icon-App-76x76@2x.png" width="152" />
        <icon height="40" src="images/res/icon/ios/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="images/res/icon/ios/Icon-App-40x40@2x.png" width="80" />
        <icon height="57" src="images/res/icon/ios/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="images/res/icon/ios/Icon-App-57x57@2x.png" width="114" />
        <icon height="72" src="images/res/icon/ios/Icon-App-72x72@1x.png" width="72" />
        <icon height="144" src="images/res/icon/ios/Icon-App-72x72@2x.png" width="144" />
        <icon height="29" src="images/res/icon/ios/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="images/res/icon/ios/Icon-App-29x29@2x.png" width="58" />
        <icon height="50" src="images/res/icon/ios/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" src="images/res/icon/ios/Icon-Small-50x50@2x.png" width="100" />
        <icon height="167" src="images/res/icon/ios/Icon-App-83.5x83.5@2x.png" width="167" />
    </platform>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <!--<plugin name="cordova-plugin-document-viewer" spec="~0.8.1" />-->
</widget>
